html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* COMPOSANT "Header" */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav-link {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav-link.router-link-exact-active {
  color: #42b983;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

/* Cette classe est aussi utilisée dans les pages "home" et "user". */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}
/* FIN DU COMPOSANT "Header" */

/* PAGE "home" */
.hero {
  background-image: url('../img/bank-tree.jpeg');
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero-content .subtitle {
    font-size: 1.5rem;
  }

  .hero-content .text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}

/* Les 3 classes suivantes sont utilisées par le composant "FeatureItem". */
.feature-item {
  flex: 1;
  padding: 2.5rem 2.7rem;
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
/* FIN DE LA PAGE "home". */

/* PAGE "signin" (path "login") */
/* Les 2 classes suivantes sont aussi utilisées dans la page "user" (path "profile")
et dans la page "transactions" (path "transactions"). */
.main {
  flex: 1;
  padding: 1px;
}

.bg-dark {
  background-color: #12002b;
}

.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 3rem auto;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 1rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.sign-in-button-link {
  cursor: pointer;
  background-color: #00bc77;
  border: 1px #00bc77 solid;
  margin-top: 1rem;
}

.sign-in-button {
  display: block;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: underline;
  padding: 8px;
}
/* FIN DE LA PAGE "signin". */

/* PAGE "user" (path "profile") */
.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-button, .edit-buttons {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.edit-button:hover, .edit-buttons:hover {
  cursor: pointer;
}

.edit-buttons {
  width: 130px;
  margin: 0 10px;
}

.profile-edit {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.profile-edit input {
  padding: 5px;
  font-size: 1.2rem;
}

.user-input {
  margin: 0 10px;
}

/* Les classes suivantes (jusqu'à "transaction-button") sont utilisées par le composant "Account". */
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-button-link {
  text-decoration: none;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.transaction-button:hover {
  cursor: pointer
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }
}
/* FIN DE LA PAGE "user". */

/* PAGE "transactions" (path "transactions") */
/* Les 5 classes suivantes sont utilisées par le composant "TransTitle". */
.titleSection {
  border: 1px solid black;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: center;
}

.titleSection-content-wrapper {
  width: 100%;
  flex: 1;
}

.titleSection-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.titleSection-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.titleSection-amount-description {
  margin: 0;
}
/* Fin du composant "TransTitle". */

#transpage {
  color: white;
  padding: 150px 0 40px 0
}

.dataHead {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 25px;
  font-weight: bold;
  margin: 0 auto
}

/* Les classes et id suivants sont utilisés par le composant "DataLine". */
.dataLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 90%;
  height: 50px;
  color: black;
  border: 1px black solid;
  margin: 0 auto -10px auto
}

.downArrow_no {
  display: none
}

.upArrow {
  display: none
}

.upArrow_yes {
  display: block
}

#arrow {
  width: 5%
}

#arrow:hover, .pencil:hover {
  cursor: pointer
}

#date {
  width: 25%
}

#descr {
  width: 30%
}

#amount, #balance {
  width: 20%
}

.moreInfo {
  display: none;
  background: #12002b;
  width: 90%;
  max-height: 0px;
  overflow: hidden;
  color: black;
  text-align: left;
  padding: 5px 0;
  margin: 0 auto;

  transition: max-height 1s
}

.moreInfo_open {
  display: block;
  background: white;
  width: 80%;
  max-height: 150px;
  overflow: hidden;
  color: black;
  text-align: left;
  padding: 5px 0 5px 10%;
  margin: 0 auto;
}
/* Fin du composant "DataLine". */
/* FIN DE LA PAGE "transactions". */

/* COMPOSANT "Footer" */
.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}
/* FIN DU COMPOSANT "Footer" */